Source: php-vitexsoftware-pohodaser
Section: unknown
Priority: optional
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.7.0
Homepage: https://github.com/VitexSoftware/pohodaser
Rules-Requires-Root: no
Vcs-Git: git@github.com:VitexSoftware/pohodaser.git
Vcs-Browser: https://github.com/VitexSoftware/pohodaser

Package: php-vitexsoftware-pohodaser
Architecture: any
Multi-Arch: foreign
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 composer-debian
Description: Stormware's Pohoda XML/PHP serialization
 This library provides a PHP-based solution for serializing
 and deserializing XML data for Stormware's Pohoda accounting
 software. It is designed to work with Pohoda's XML schema
 definitions (XSD) and simplifies the process of integrating
 Pohoda's data exchange into your PHP applications.
